.mapboxgl-valhalla-list {
    display: block !important;
    pointer-events: all;
}

.controllPanel_container {
    background: #fff;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .1);
    position: fixed;
    transition: all;
    height: 100vh;
    right: 0;
    top: 0;
    pointer-events: all;
    padding: 10px;
    width: 300px;
}

label {
    position: relative;
}

label::after {
    content: attr(value);
    bottom: -22px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.icon {
    border-radius: 500em !important;
    box-shadow: inset 0 0 0 .15em rgba(0, 0, 0, .1);
    line-height: 1 !important;
    padding: .5em !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

i.icon {
    speak: none;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: inline-block;
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    height: 1em;
    margin: 0 .25rem 0 0;
    opacity: 1;
    text-align: center;
    text-decoration: inherit;
    width: 1.18em;
    font-size: 1rem;
}

.container_kilometr {

}

.panelLines_container {
    margin-top: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-inline-start: 0;
}

.controllPanel,
.lowPanel,.panelLines {
    padding: 10px;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: .28571429rem;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input_container {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.layersPanel_container {
    background: #fff;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .1);
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: all;
    padding: 10px;
    width: 150px;
}

.layersPanel {
    padding: 10px;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: .28571429rem;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    display: flex;
    flex-direction: column;
    gap: 15px;
}